//Nombre de archivo:footer-ayuda-home.component.scss
//Fichero encargado del estilo de la página web
//Autor: Laura Ortiz González
//Define el estilo de los distintos contenidos de la página web


.ion-no-border{
  text-align: center;
  max-height: 40%;
}
.ayuda img{
  max-width: 100%;
  height: auto;
}
