<!--Nombre del archivo: agenda.page.html-->
<!--Fichero encargado de la creación de la página para que el alumno pueda ver la agenda-->
<!--Autor: Miguel Carracedo Rodríguez, Jorge Zamudio Gutiérrez, Laura Ortiz González-->
<!--Se va a definir las diferentes cards de ionic que nos permitirán mostrar al alumno el menú que ha elegido ese día-->

<body>
  <ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-title>Agenda Vista Alumno Basica</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
      <iterate-paginated-grid opciones={{opcionesInputeadas}}></iterate-paginated-grid>
    </ion-content>
    <!-- Fila con Ayuda y botón de Inicio -->
    <footer-ayuda-home></footer-ayuda-home>
  </ion-app>
</body>
