<!--Nombre del archivo: agenda.page.html-->
<!--Fichero encargado de la creación de la página web para que el alumno pueda ver los distintos tutoriales-->
<!--Autor: Miguel Carracedo Rodríguez-->
<!--Se va a definir las diferentes cards de ionic que nos permitirán mostrar al alumno el menú que ha elegido ese día-->

<ion-header>
  <ion-toolbar>
    <ion-title>Agenda Alumno Media</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id = "container">
    
    <ion-grid>

      <ion-row *ngFor="let tarea of tareas | paginate: { itemsPerPage: 2, currentPage: pagina_actual }" >
          
        <ion-col>
          
          <ion-card>
                            
            <ion-img [src]="tarea.imageURL"></ion-img> 
            <div class="nombreTarea">{{tarea.nombre}}</div>

          </ion-card>

        </ion-col>
      
      </ion-row>
      
      <!-- Fila con Ayuda y botón de Inicio -->
      <ion-row>
      
        <ion-col>
          <ion-card>
            <img src= "https://cdn.icon-icons.com/icons2/602/PNG/512/Help_icon-icons.com_55891.png"/>
            <ion-card-header>
              <ion-card-title>Ayuda</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      
        <ion-col>
          <ion-card [routerLink]="['../home']">
            <img src= "https://icon-library.com/images/home-icon-black/home-icon-black-3.jpg"/>
            <ion-card-header>
              <ion-card-title>Inicio</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      
      </ion-row>
        
      <!-- Aquí se pone el control del paginación -->
      <div class="paginacion">
        <pagination-controls 
          (pageChange)="pagina_actual = $event" 
          previousLabel="" 
          nextLabel="" 
          maxSize=""
        ></pagination-controls>
      </div>
        
    </ion-grid>
    
  </div>

</ion-content>
