<!--Nombre del archivo: tutoriales.page.html-->
<!--Fichero encargado de la creación de la página web para que el alumno pueda ver los distintos tutoriales-->
<!--Autor: Laura Ortiz González, Jorge Zamudio Gutiérrez-->
<!--Se va a definir las diferentes cards de ionic que nos permitirán mostrar al alumno los tutoriales-->

<body>
  <ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-title>Tutoriales Vista Alumno Compleja</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
      <iterate-paginated-grid opciones={{opcionesInputeadas}}></iterate-paginated-grid>
    </ion-content>
    <!-- Fila con Ayuda y botón de Inicio -->
    <footer-ayuda-home></footer-ayuda-home>
  </ion-app>
</body>
