<!--Nombre del archivo: alumnos.page.html-->
<!--Fichero encargado de la creación de la página web para que el profesor pueda ver todos los alumnos-->
<!--Autor: Alejandro Soriano Morante-->
<!--Se va a definir las diferentes cards de ionic que nos permitirán mostrar al profesor sus alumnos-->

<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Lista tutoriales</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>


</ion-content>