<!--Nombre del archivo: menu.page.html-->
<!--Fichero encargado de la creación de la página web para que el alumno pueda ver los distintos tutoriales-->
<!--Autor: Miguel Carracedo Rodríguez-->
<!--Se va a definir las diferentes cards de ionic que nos permitirán mostrar al alumno el menú que ha elegido ese día-->

<body>
  <ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú Vista Alumno Basica</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>

      <div id="container">
        <ion-grid>


          <!-- Fila con 1 y 2 plato-->
          <ion-row>

            <ion-col>
                <ion-card>
                  <img src="assets/pictograms/fondo/primer_plato.png"/>
                  <ion-card-header>
                    <ion-card-title>Primer plato</ion-card-title>
                  </ion-card-header>
                </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card>
                <img src="assets/pictograms/fondo/segundo_plato.png"/>
                <ion-card-header>
                  <ion-card-title>Segundo plato</ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>

          </ion-row>


          <!-- Fila con el postre -->
          <ion-row>

            <ion-col>
                <ion-card>
                  <img src="assets/pictograms/fondo/postre.png"/>
                  <ion-card-header>
                    <ion-card-title>Tercer plato</ion-card-title>
                  </ion-card-header>
                </ion-card>
            </ion-col>

          </ion-row>

          <!-- Fila con Ayuda y botón de Inicio -->
          <ion-row>

            <ion-col size="6">
              <ion-card>
                <img src="assets/pictograms/fondo/necesito_ayuda.png"/>
                <ion-card-header>
                  <ion-card-title>Ayuda</ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>

            <ion-col>
              <ion-card [routerLink]="['../home']">
                <img src= "https://icon-library.com/images/home-icon-black/home-icon-black-3.jpg"/>
                <ion-card-header>
                  <ion-card-title>Inicio</ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>

          </ion-row>



        </ion-grid>
      </div>
    </ion-content>
  </ion-app>
</body>
