<ion-header>
    <ion-toolbar>
      <ion-title>Inicio de Sesión de Profesor</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div id="container">
      <ion-grid>
        
        <ion-row>

          <ion-col>
            <ion-card class="ion-text-center">
              <ion-card-header>
                <ion-card-title>Identifiquese</ion-card-title>
              </ion-card-header>
  
            </ion-card>

          </ion-col>

        </ion-row>


        <ion-row>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Correo</ion-card-title>
              </ion-card-header>
            </ion-card>

        </ion-row>

        <ion-row>
          <ion-card>
            <div class ="item item-input-inset">
              <label class="item-input-wrapper">
                <input type="text" placeholder="Email">
              </label>
            </div>
          </ion-card>
        </ion-row>

  
        <ion-row>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Contraseña</ion-card-title>
            </ion-card-header>
          </ion-card>

      </ion-row>

      <ion-row>
        <ion-card>
          <div class ="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="Contraseña">
            </label>
          </div>
        </ion-card>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card [routerLink]="['../home']">
            <ion-card-header>
              <ion-card-title>Iniciar sesion</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>


        <ion-row>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Recuperar Contraseña</ion-card-title>
              </ion-card-header>
            </ion-card>
        </ion-row>


         
        <ion-row>

          <ion-col>
            <ion-card class="ion-text-center">
              <ion-card-header>
                <ion-card-title>No tengo cuenta</ion-card-title>
              </ion-card-header>
  
            </ion-card>

          </ion-col>

        </ion-row>

         
        <ion-row>

          <ion-col>
            <ion-card class="ion-text-center">
              <ion-card-header>
                <ion-card-title>Registrarme</ion-card-title>
              </ion-card-header>
  
            </ion-card>

          </ion-col>

        </ion-row>


      </ion-grid>
    </div>
  </ion-content>