<!--Nombre del archivo: inicio.page.html-->
<!--Fichero encargado de la creación de la página web para la funcionalidad del inicio de sesión o registrarse por parte del profesor-->
<!--Autor: Alejandro Soriano Morante-->
<!--Se va a definir las diferentes cards de ionic que ejecutarán las funcionalidades deseadas por parte de la página web del incio y registro por parte profesor-->


<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio de sesión de profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-row ion-item *ngFor="let item of listadoP">
      <ion-col>
            <ion-card-header>
              <ion-button type="submit" color="Gold" expand="block" [routerLink]="['../home']">{{item.nombre}} {{item.apellidos}}</ion-button>
            </ion-card-header>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        
        <ion-button type="submit" color="primary" expand="block" [routerLink]="['../register']">Regístrese si no aparece</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>