<ion-header>
  <ion-toolbar>
    <ion-title>Opciones Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Ver perfil de un alumno</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Modificar el tamaño de la letra</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Ver el rendimiento de los alumnos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    

  </ion-grid>
</ion-content>
