<!--Nombre del archivo: opciones.page.html-->
<!--Fichero encargado de la creación de la página web para la funcionalidad de las distintas opciones del profesor-->
<!--Autor: Alejandro Soriano Morante-->
<!--Se va a definir las diferentes cards de ionic que nos permitirán ejecutar las distintas opciones del profesor-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Opciones Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Ver perfil de un alumno</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Modificar el tamaño de la letra</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Ver el rendimiento de los alumnos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card [routerLink]="['../asignar_tarea']">
          <ion-card-header>
            <ion-card-title>Asignar una tarea a un alumno</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
 
    

  </ion-grid>
</ion-content>
