<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio Profesor</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-content class="auth-form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['../inicio']" expand="block" color="danger">Inicio Sesión</ion-button>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col align-self-center>
          <ion-button [routerLink]="['../register']" expand="block" color="primary">Registrarse</ion-button>
        </ion-col>

      </ion-row>

      
    </ion-grid>
  </ion-content>