<ion-header>
  <ion-toolbar>
    <ion-title>Agenda Alumno Media</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id = "container">
    
    <ion-grid>

      <ion-row>
        <ion-col>
          
          <ion-card>
                            
            <img src="../../../../assets/microwave.png" />
            <ion-card-header>
              <ion-card-title>Poner el microondas</ion-card-title>
            </ion-card-header>

          </ion-card>

        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>

        <ion-card [routerLink]="['../menu']">
          <img src = "https://icon-library.com/images/icon-plus/icon-plus-28.jpg"/>
            <ion-card-header>
              <ion-card-title>Tomar comanda comedor</ion-card-title>
            </ion-card-header>

        </ion-card>

        </ion-col>
      </ion-row>
      
      <!-- Fila con Ayuda y botón de Inicio -->
      <ion-row>
      
        <ion-col>
          <ion-card>
            <img src= "https://cdn.icon-icons.com/icons2/602/PNG/512/Help_icon-icons.com_55891.png"/>
            <ion-card-header>
              <ion-card-title>Ayuda</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      
        <ion-col>
          <ion-card [routerLink]="['../home']">
            <img src= "https://icon-library.com/images/home-icon-black/home-icon-black-3.jpg"/>
            <ion-card-header>
              <ion-card-title>Inicio</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      
      </ion-row>
        
    </ion-grid>
    
  </div>

</ion-content>
