<ion-header>
  <ion-toolbar>
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Fila con Ayuda y botón de Inicio -->
<ion-row>

  <ion-col size="6">
    <ion-card>
      <img src= "https://cdn.icon-icons.com/icons2/602/PNG/512/Help_icon-icons.com_55891.png"/>
      <ion-card-header>
        <ion-card-title>Ayuda</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>

  <ion-col>
    <ion-card [routerLink]="['/home']">
      <img src= "https://icon-library.com/images/home-icon-black/home-icon-black-3.jpg"/>
      <ion-card-header>
        <ion-card-title>Inicio</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>

</ion-row>

</ion-content>
