<!--Nombre del archivo: home.page.html-->
<!--Fichero encargado de la creación de la página web para la funcionalidad del home del profesor-->
<!--Autor: Alejandro Soriano Morante-->
<!--Autor: Jesús López Rodríguez-->
<!--Se va a definir las diferentes cards de ionic que nos mandarán a las disintas funcionalidades de la aplicación del profesor-->

<ion-header>
  <ion-toolbar>
    <ion-title>Home Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
    <ion-col>
        <ion-card [routerLink]="['../opciones']">
          <ion-card-header>
            <ion-card-title>Menu Profesores</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card [routerLink]="['../tutoriales']">
          <ion-card-header>
            <ion-card-title>Tutoriales</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card [routerLink]="['../alumnos']">
          <ion-card-header>
            <ion-card-title>Alumnos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['../../seleccion-perfil']" expand="block" color="primary">Cerrar sesion</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
