<!--Nombre del archivo: agenda.page.html-->
<!--Fichero para la creacion del apartado Agenda de la vista Alumno Compleja-->
<!--Autor: Jorge Zamudio Gutierrez-->
<!-- Define la estructura de la página de Agenda -->

<ion-header>
  <ion-toolbar>
    <ion-title>Agenda Alumno Compleja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <!-- Flecha hacia atras -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <!-- Titulo del calendario -->
    <ion-col size="8" class="ion-text-center">
      <h2>{{viewTitle}}</h2>
    </ion-col>

    <!-- Flecha hacia delante -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Calendario -->
  <calendar
  [eventSource]="eventSource"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onTitleChanged)="onViewTitleChanged($event)"
  noEventsLabel="Sin tareass"
  allDayLabel="Tarea"
  startingDayMonth="1"
  formatDayHeader="EEEEEE"
  formatDay="d"
  >
  </calendar>

</ion-content>
