<!--Nombre del archivo: iterate-paginated-grid.component.html-->
<!--Fichero encargado de la creación de la página web para que el alumno pueda ver los distintos tutoriales-->
<!--Autor: Laura Ortiz González-->
<!--Generalización del código de iterar por un grid aplicando la paginación de tarjetas-->
<!--@Input opciones: array de opciones a mostrar-->

<div id="container">
  <ion-grid>
    <ion-row>
      <ion-col col-auto *ngFor="let opcion of opciones| paginate: { itemsPerPage: itemsPerPage, currentPage: pagina_actual }">
          <ion-card [routerLink]="opcion.to">
            <img src="{{opcion.imageURL}}"/>
            <ion-card-title><strong>{{opcion.nombre}}</strong></ion-card-title>
          </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <div class="paginacion" id="paginacion">
        <pagination-controls
          (pageChange)="pagina_actual = $event"
          previousLabel=""
          nextLabel=""
          maxSize=""
        ></pagination-controls>
      </div>
    </ion-row>
  </ion-grid>
</div>
