<!--Nombre del archivo: home.page.html-->
<!--Fichero encargado de la creación de la página web para que el alumno pueda ver su página de inicio-->
<!--Autor: Jesús López Rodríguez-->
<!--Se va a definir las diferentes cards de ionic que nos permitirán mostrar al alumno la página de inicio-->

<body>
  <ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Inicio Vista Alumno Media
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
    
      <div id="container">
        <ion-grid>

          <!-- Fila con menu y tutoriales  -->
          <ion-row>

            <ion-col>
                <ion-card [routerLink]="['../menu']">
                  <img src="assets/pictograms/fondo/menu.png" />
                  <ion-card-header>
                    <ion-card-title>Menú</ion-card-title>
                  </ion-card-header>
                </ion-card>
            </ion-col>

            <ion-col>
              <ion-card [routerLink]="['../tutoriales']">
                <img src="assets/pictograms/borde/tutoriales.png" />
                <ion-card-header>
                  <ion-card-title>Tutorial</ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>

          </ion-row>
          
          <!-- Fila con agenda  -->
          <ion-row>
            
            <!--<ion-col></ion-col>-->
    
            <ion-col>
    
              <ion-card [routerLink]="['../agenda']">
                <img src="assets/pictograms/fondo/agenda.png"/>
                <ion-card-header>
                  <ion-card-title>Agenda</ion-card-title>
                </ion-card-header>
              </ion-card>
    
            </ion-col>
    
            <!--<ion-col></ion-col>-->
    
          </ion-row>
    
          <!-- Fila con Ayuda  -->
          <ion-row size>
            
            <ion-col>
              <ion-card>
                <img src= "assets/pictograms/fondo/necesito_ayuda.png"/>
                <ion-card-header>
                  <ion-card-title>Ayuda</ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
    
            <ion-col></ion-col>    
          </ion-row>
 
    
        </ion-grid>
      </div>
    </ion-content>

  </ion-app>
</body>




